{% extends '@Website/base.html.twig' %}

{% block body %}
    <script type="text/javascript"></script>
    <script type="text/javascript"></script>
    <div class="inhalt">
        <div class="oben">
            <div class="speaktab">
                Sprache: <a href="...">Deutsch</a>
                <img style="border:none;" alt="Deutsch" src="{{ asset('bundles/website/gfx/de-flag.gif') }}" />
                <span> | </span>
                <a href="...">Englisch</a>
                <img style="border:none;" alt="Englisch" src="{{ asset('bundles/website/gfx/en-flag.gif') }}" />
            </div>
            <h2><br /><br /><br />Ein kleiner privater Blog, sowie eine kleine Fotogalerie</h2>
            <div class="logintab">
                <form action="" method="post" name="loginform">
                    <h3>Login: </h3>
                    <label for="id_login_email">E-Mail:</label>
                    <input id="id_login_email" name="loginEMail" size="24" />
                    <label for="id_login_passwort">Passwort:</label>
                    <input id="id_login_passwort" name="loginPasswort" size="14" type="password" />
                    <input class="button" name="login" type="submit" value="Einloggen" />
                </form>
                <div class="registertab">
                    <ul>
                        <li>
                            <a href="https://www.chilan.de/registrieren/index.html"><img alt="Registrieren" src="{{ asset('bundles/website/gfx/registrieren.png') }}" />
                            </a>
                        </li>
                        <li>
                            &nbsp;</li>
                        <li>
                            <a href="https://www.chilan.de/registrieren/index.html">Registrieren</a>
                        </li>
                        <li>
                            &nbsp;&nbsp;</li>
                        <li>
                            <a href="https://www.chilan.de/passwortsenden/index.html"><img alt="Passwortmailer" src="{{ asset('bundles/website/gfx/passwortsenden.png') }}" />
                            </a>
                        </li>
                        <li>
                            &nbsp;</li>
                        <li>
                            <a href="https://www.chilan.de/passwortsenden/index.html">Passwortmailer</a>
                        </li>
                    </ul>
                </div>
                <span class="clearLoginTab"></span>
            </div>
        </div>
        <div class="menu">
            <div class="menu_box">
                <h3>Mainmen&uuml;</h3>
                <ul>
                    <li>
                        <a href="https://www.chilan.de/news/index.html">News</a>
                    </li>
                    <li>
                        <a href="https://www.chilan.de/galerie/index.html">Bildergalerie</a>
                    </li>
                    <li>
                        <a href="https://www.chilan.de/toplist/index.html">Bilder Toplist</a>
                    </li>
                    <li>
                        <a href="https://www.chilan.de/gaestebuch/index.html">G&auml;stebuch</a>
                    </li>
                    <li>
                        <a href="https://www.chilan.de/impressum/index.html">Impressum</a>
                    </li>
                    <li>
                        <a href="http://feeds.feedburner.com/KaneOnline"><img style="border:none;" alt="RSS Icon" src="{{ asset('bundles/website/gfx/rss_icon.gif') }}" />
                            RSS-Feed&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                </ul>
             <div class="menu_box">
                <h3>Zufallsbild</h3>
                <a href="..."><img alt="[5828]Zufallsbild" src="..." border="0" />
                </a>
            </div>
            <div class="menu_box">
                <h3>Kommentare</h3>
                <h4>Die letzten 10:</h4>
                <ul id="kurzKomm">
                    <li>
                        <a href="/kommentiert/news,196,operation,0.html">&raquo;Ulf: Nun der Name is...</a>
                    </li>
                    <li>
                        <a href="/kommentiert/news,196,operation,0.html">&raquo;Philipp: W&uuml;nsche dir ei...</a>
                    </li>
                    <li>
                        <a href="/kommentiert/news,196,operation,0.html">&raquo;Der: Wie geil ich ka...</a>
                    </li>
                    <li>
                        <a href="/kommentiert/news,194,operation,0.html">&raquo;Ulf: Da gebe ich dir...</a>
                    </li>
                    <li>
                        <a href="/kommentiert/news,194,operation,0.html">&raquo;Philipp: Ich w&uuml;rde eine...</a>
                    </li>
                    <li>
                        <a href="/kommentiert/news,190,operation,0.html">&raquo;Ulf: Ein HTC Wildfir...</a>
                    </li>
                    <li>
                        <a href="/kommentiert/news,190,operation,0.html">&raquo;Peter: Welches HTC ist...</a>
                    </li>
                    <li>
                        <a href="/kommentiert/news,185,operation,0.html">&raquo;Philipp: Uhrzeit ? [:)]...</a>
                    </li>
                    <li>
                        <a href="/kommentiert/news,183,operation,0.html">&raquo;Sarah: Hallo,<br />
                            das ist...</a>
                    </li>
                    <li>
                        <a href="/kommentiert/news,182,operation,0.html">&raquo;ExCheffe: Hey,<br />
                            cooles Ga...</a>
                    </li>
                </ul>
                <h4>Kommentare zu Bildern</h4>
                <ul id="kurzKomm_bilder">
                    <li>
                        <a href="/galerie/operation,3,bild,1894-0-3.html">&raquo;Daniel: wtf, so ohne Sc...</a>
                    </li>
                    <li>
                        <a href="/galerie/operation,3,bild,1747-0-3.html">&raquo;Boro: Haha sehr geil ...</a>
                    </li>
                    <li>
                        <a href="/galerie/operation,3,bild,1585-0-3.html">&raquo; Gast: Nicht das erste...</a>
                    </li>
                    <li>
                        <a href="/galerie/operation,3,bild,1002-0-3.html">&raquo;ente: BOTOX- BORO!!![...</a>
                    </li>
                    <li>
                        <a href="/galerie/operation,3,bild,1427-0-3.html">&raquo;ente: sweeeeeet!![^^]...</a>
                    </li>
                    <li>
                        <a href="/galerie/operation,3,bild,867-0-3.html">&raquo;Ulf: Das rechts ist ...</a>
                    </li>
                    <li>
                        <a href="/galerie/operation,3,bild,867-0-3.html">&raquo;Arne: wer zur h&ouml;lle ...</a>
                    </li>
                    <li>
                        <a href="/galerie/operation,3,bild,611-0-3.html">&raquo;raven: Aha!!...</a>
                    </li>
                    <li>
                        <a href="/galerie/operation,3,bild,611-0-3.html">&raquo;Ulf: Ja genau, ich h...</a>
                    </li>
                    <li>
                        <a href="/galerie/operation,3,bild,611-0-3.html">&raquo;raven: hey, momentmal,...</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="anzeige">
            <h3>Aktuelles</h3>
            <div class="kbox">
                <div class="klappmenu">
                    <div class="abstand">
                    </div>
                    <span class="seitenzahlen">Alle</span>
                    <form class="nix" style="display:inline" action="" method="post">
                        <select style="margin: 0px 0px 0px 15px; padding: 0px 0px 0px 0px;  height:18px; border: 1px solid #000;" name="katSelect">
                            <option value="https://www.chilan.de/news/index.html">-Alle-</option>
                            <option value="/news/kat,2.html">Allgemein</option>
                            <option value="/news/kat,9.html">Bilder</option>
                            <option value="/news/kat,5.html">Fundsachen</option>
                            <option value="/news/kat,4.html">Kritik</option>
                            <option value="/news/kat,8.html">Leben</option>
                            <option value="/news/kat,6.html">Lyriks</option>
                            <option value="/news/kat,10.html">Uni</option>
                            <option value="/news/kat,11.html">Website</option>
                        </select>
                        <input class="buttonKat" name="choiceKat" type="submit" value="Kategorie einschr&auml;nken" />
                    </form>
                </div>
                <div class="kernbox">
                    <div class="seitendiv">
                        <span>Seite 1</span>
                        <a href="/news/page,2.html">Seite 2</a>
                        <a href="/news/page,3.html">Seite 3</a>
                        <a href="">...</a>
                        <a href="/news/page,31.html">Seite 31</a>
                        <a href="/news/page,32.html">Seite 32</a>
                        <a href="/news/page,33.html">Seite 33</a>
                    </div>
                    <div>
                        <div class="news_oben">
                            <div class="news_titel">
                                <h4><a title="Frohes neues Jahr 2017" href="/kommentiert/news,211,operation,-1.html" rel="bookmark">Frohes neues Jahr 2017</a>
                                </h4>
                            </div>
                            <div class="news_datum">
                                01.01.2017</div>
                        </div>
                        <div class="news_artikel">
                            Es ist nun schon eine Weile her das ich hier einen Eintrag geschrieben habe. Da meine Website technisch nicht mehr auf dem neusten Stand ist wollte ich sie einmal komplett neu programmieren. Aber es fehlt an Zeit und auch ein bisschen der Motivation. Wenn man den ganzen Tag über programmiert fehlt einem abends doch ein bisschen die Motivation.
                            <br />Auch habe ich im Jahr 2015 zum 30. Geburtstag eine neue Kamera geschenkt bekommen, eine Canon G7X mit der ich nun fleißig Bilder und Videos mache und mit dem Bearbeiten der Videos auch schon eine Menge Zeit im Jahr flöten geht <img src="https://www.chilan.de/gfx/0.gif" alt=":)" />
                            <br />Aber ein bisschen was hat sich im Jahr 2016 hier doch getan. Ich habe meine Seite wird nun verschlüsselt übertragen, was heutigem Standard entspricht.
                            <br />Auch habe ich angefangen die neue Homepage zu programmieren, diesmal mit Frameworks und nicht alles zu 100% selbst geschrieben.  Aber es geht da doch langsamer voran als es mir manchmal recht ist.
                            <br />Jedenfalls wünsche ich allen ein Gutes Neues Jahr 2017.</div>
                        <br /><div class="news_artikel_down">
                            <a title="Kategorie" href="/news/kat,2.html">Kategorie: Allgemein | </a>
                            <a title="Kommentare" href="/kommentiert/news,211,operation,1.html">Eigenen Kommentar hinzuf&uuml;gen</a>
                            <a title="Frohes neues Jahr 2017" href="/kommentiert/news,211,operation,-1.html" rel="bookmark"> | Link</a>
                        </div>
                    </div>
                    <div>
                        <div class="news_oben">
                            <div class="news_titel">
                                <h4><a title="Frohes neues Jahr 2015" href="/kommentiert/news,210,operation,-1.html" rel="bookmark">Frohes neues Jahr 2015</a>
                                </h4>
                            </div>
                            <div class="news_datum">
                                01.01.2015</div>
                        </div>
                        <div class="news_artikel">
                            Nachdem letzten Oktober meine Masterarbeit abgegeben habe und dann am 4. November mein Kolloquium hatte bin ich seit dem mit meinem Studium fertig. Insgesamt habe ich nun meine Masterarbeit mit einer 1,7 abgeschlossen. Auch wenn das Ergebnis meiner stark forschungsorientierten Arbeit nicht ganz das erreichte was ich am Anfang gehofft habe ist es doch schön zu wissen, dass die Arbeit nun abgeschlossen ist und somit das Studium als Ganzes beendet ist.
                            <br />
                            <br />Sechs Jahre war ich nun in Lübeck und habe dort studiert, bzw. über die Uni mein Auslandsaufenthalt in Oslo organisiert. Nun habe ich nach circa einem Monat Arbeitssuche eine Stelle als Junior Software Entwickler. Die Arbeit geht dann auch demnächst los und ich bin interessiert wie nun mein nächster Lebensabschnitt wird. Was ich aber weiß ist dass die Zeit in Lübeck vorbei ist. Mein Zimmer in der Wohnung ist gekündigt und die meisten Sachen auch schon abgeholt.
                            <br />
                            <br />Für mich fängt damit nicht nur ein neues Jahr an, sondern auch ein komplett neuer Lebensabschnitt.
                            <br />
                            <br />Auch auf meiner Website hat sich ein bisschen was getan. Am Anfang des letzten Jahres habe ich den Kern stark verändert was einige Anpassungen nötig machte. Auch das Aussehen habe ich leicht verändert, wodurch der Login Bereich aufgewertet werden sollte. Allerdings habe ich nicht alles geschafft was ich wollte. Die Masterarbeit hat dann doch mehr Zeit gekostet als ich gedacht hätte. Da ich derzeit mit einem anderen privaten Projekt einer Website beschäftigt bin wird wohl auch dieses Jahr zu mindestens am Anfang sich die Website äußerlich nicht verändern.
                            <br />
                            <br />Ansonsten wünsche ich Euch allen ein schönes neues Jahr 2015 und hoffe das es für jeden von Euch ein schönes Jahr wird.</div>
                        <br /><div class="news_artikel_down">
                            <a title="Kategorie" href="/news/kat,11.html">Kategorie: Website | </a>
                            <a title="Kommentare" href="/kommentiert/news,210,operation,1.html">Eigenen Kommentar hinzuf&uuml;gen</a>
                            <a title="Frohes neues Jahr 2015" href="/kommentiert/news,210,operation,-1.html" rel="bookmark"> | Link</a>
                        </div>
                    </div>
                    <div>
                        <div class="news_oben">
                            <div class="news_titel">
                                <h4><a title="Geburtstagsfeier in Prag" href="/kommentiert/news,209,operation,-1.html" rel="bookmark">Geburtstagsfeier in Prag</a>
                                </h4>
                            </div>
                            <div class="news_datum">
                                18.10.2014</div>
                        </div>
                        <div class="news_artikel">
                            <a title="Klicken Sie hier und verlassen Sie diese Seite" href="https://www.chilan.de/galerie/operation,3,bild,9420-0-4.html" ><img alt="Karlsbrücke" src="https://www.chilan.de/checkpicture.php?bildid=9609" style="float: left;" /></a>Roman, den ich in Oslo kennen gelernt habe, hat zu seinem Geburtstag nach Prag eingeladen. Dies wollte man sich natürlich nicht entgehen lassen. Da es exakt das Wochenende nach meinem Abgabetermin für meine Masterarbeit war, hatte ich mir so eine Tour auch verdient. So ging es am achten Oktober los von Lübeck nach Prag. Übernachtet habe ich in einem Hostel in der Stadt, dass ich am Abend dann beziehen konnte.
                            <br />
                            <br /><a title="Klicken Sie hier und verlassen Sie diese Seite" href="https://www.chilan.de/galerie/operation,3,bild,9396-0-2.html" ><img alt="Blick auf Brag von der Burg" src="https://www.chilan.de/checkpicture.php?bildid=9608" style="float: left;" /></a>Am nächsten Tag ging es dann erstmal die Stadt erkunden. Dabei stieß Fabi mit dazu, der auch schon früher in Prag angekommen ist. Am Nachmittag haben sich dann Jana und Roman noch angeschlossen und uns ein bisschen Ihre Stadt gezeigt. Abends ging es dann natürlich in eine Bar und ein paar sehr günstige Bier trinken.
                            <br />
                            <br /><a title="Klicken Sie hier und verlassen Sie diese Seite" href="https://www.chilan.de/galerie/operation,3,bild,9546-0-11.html" ><img alt="Geburtstagsfeier im Azyl" src="https://www.chilan.de/checkpicture.php?bildid=9610" style="float: left;" /></a>Der darauffolgende Tag war dann leider ein bisschen wolkiger, aber zusammen mit Fabi und Sebastian ging es dann den Prager Eiffelturm besichtigen und das lokale Bier zu testen. Dann am Abend war es soweit, die Geburtstagsfeier stand an. Dazu waren wir im Azyl, der extra für die Geburtstagsfeier gemietet war. Nun waren auch fast alle Freunde aus Oslo da und natürlich noch eine Menge Freunde von Roman aus Prag. Die Bar war voll, die Stimmung super und es war eine sehr coole Party.
                            <br />
                            <br /><a title="Klicken Sie hier und verlassen Sie diese Seite" href="https://www.chilan.de/galerie/operation,3,bild,9604-0-15.html" ><img alt="Prage in der Nacht" src="https://www.chilan.de/checkpicture.php?bildid=9612" style="float: left;" /></a>Am drauffolgenden Samstag haben wir dann als große Gruppe den Prager Zoo besucht. Es war super dass man wieder fast alle aus Oslo wieder gesehen hat und nun was gemeinsam unternahm. Leider sind meine Schuhe kaputt gegangen, weswegen ich auf dem unebenen Plastik der Sole gelaufen bin. Aber nicht desto trotz waren es einige super Tage gewesen. Wir haben auch schon besprochen dass wir uns dann das nächste Mal in Warschau sehen und Tomasz einlädt. Ich hoffe sehr dass das nächstes Jahr klappen wird. </div>
                        <br /><div class="news_artikel_down">
                            <a title="Kategorie" href="/news/kat,8.html">Kategorie: Leben | </a>
                            <a title="Kommentare" href="/kommentiert/news,209,operation,1.html">Eigenen Kommentar hinzuf&uuml;gen</a>
                            <a title="Geburtstagsfeier in Prag" href="/kommentiert/news,209,operation,-1.html" rel="bookmark"> | Link</a>
                        </div>
                    </div>
                    <div>
                        <div class="news_oben">
                            <div class="news_titel">
                                <h4><a title="Zwei Wochenenden in D&auml;nemark" href="/kommentiert/news,208,operation,-1.html" rel="bookmark">Zwei Wochenenden in D&auml;nemark</a>
                                </h4>
                            </div>
                            <div class="news_datum">
                                18.08.2014</div>
                        </div>
                        <div class="news_artikel">
                            Die Familie fuhr für zwei Wochen nach Dänemark. Da auch meine Eineinhalbjährige Nichte mit fuhr wollte ich als Onkel gerne mitfahren. Allerdings ließ dies meine Masterarbeit nicht zu. So bin ich nur die ersten beiden Wochenenden mit in Dänemark gewesen. Auf diese Weise konnte ich neue Energie für eine weitere Woche meiner Masterarbeit gewinnen und die Nordsee ein bisschen genießen.
                            <br />
                            <br />Das erste Wochenende war sehr schön und man konnte auch ohne Probleme baden gehen. Das zweite war leider ein bisschen windig und kalt. Aber es war eine schöne Zeit und man konnte zusammen mit meiner kleinen Nichte eine schöne Sandburg bauen und zu sehen wie sie wieder von den Wellen vernichtet wurde.
                            <br />
                            <br /><a title="Klicken Sie hier und verlassen Sie diese Seite" href="https://www.chilan.de/galerie/operation,3,bild,9318-0-4.html" ><img alt="Nordseestrand" src="https://www.chilan.de/checkpicture.php?bildid=9370&amp;detail=1" /></a></div>
                        <br /><div class="news_artikel_down">
                            <a title="Kategorie" href="/news/kat,8.html">Kategorie: Leben | </a>
                            <a title="Kommentare" href="/kommentiert/news,208,operation,1.html">Eigenen Kommentar hinzuf&uuml;gen</a>
                            <a title="Zwei Wochenenden in D&auml;nemark" href="/kommentiert/news,208,operation,-1.html" rel="bookmark"> | Link</a>
                        </div>
                    </div>
                    <div>
                        <div class="news_oben">
                            <div class="news_titel">
                                <h4><a title="Kurzbesuch in Oslo" href="/kommentiert/news,207,operation,-1.html" rel="bookmark">Kurzbesuch in Oslo</a>
                                </h4>
                            </div>
                            <div class="news_datum">
                                25.05.2014</div>
                        </div>
                        <div class="news_artikel">
                            <a title="Klicken Sie hier und verlassen Sie diese Seite" href="https://www.chilan.de/galerie/operation,3,bild,8753-0-1.html" ><img alt="Im Botanischen Garten" src="https://www.chilan.de/checkpicture.php?bildid=9251" style="float: left;" /></a>In meinem Auslandssemester hatten wir uns schon vorgenommen über den Norwegischen Nationalfeiertag wieder nach Oslo zu fliegen. Da Fabi, Roman und Jana noch ein Semester länger in Oslo waren, hatte man auch ein paar Freunde die man besuchen konnte. Zuerst ging es wieder auf eine Wandertour in der Nordmarka. Am ersten Tag habe ich endlich mir mal den Botanischen Garten angesehen. Am drauffolgenden ging es dann mit Rebekka, Fabi und Johannes auf Wandertour weit im Norden der Nordmarka. Da Rebekka erst an diesem Tag angekommen ist ging die Wanderrour erst am späten Nachmittag los. <a title="Klicken Sie hier und verlassen Sie diese Seite" href="https://www.chilan.de/galerie/operation,3,bild,8788-0-4.html" ><img alt="Hütte im Schnee" src="https://www.chilan.de/checkpicture.php?bildid=9252" style="float: left;" /></a>Wir hatten aber auch nur zehn Kilometer geplant bis zu der Übernachtungshütte im Wald. Leider habe ich nicht mehr mit Schnee gerechnet, der in den höheren Lagen zum Teil noch Hüfttief  lag. Wo kein Schnee lag, war es matschig und nass. Leider war ich auch der einziger der auf dem Schnee regelmäßig eingebrochen ist, so dass die Tour sehr anstrengend wurde und sich bis spät in die Nacht zog. Nach dem durchqueren eines größeren Flusses sind wir dann auch kurz nach Mitternacht an der Hütte mit nassen Füßen angekommen. (Bis auf Fabi, der gute Wanderstiefel hatte)
                            <br />
                            <br />Am nächsten Tag ging es dann eine andere Route zurück, wobei wir uns eher auf befahrbare Wege konzentrierten, die zum Glück später frei von Schnee waren, so dass wir die circa 20 Kilometer bis zum Ziel gut hinbekommen haben.
                            <br />
                            <br /><a title="Klicken Sie hier und verlassen Sie diese Seite" href="https://www.chilan.de/galerie/operation,3,bild,8871-0-9.html" ><img alt="Parrade" src="https://www.chilan.de/checkpicture.php?bildid=9253" style="float: left;" /></a>An dem Abend haben wir uns dann noch mit Sebastian, Roman, Jana getroffen und lecker Lachsauflauf gegessen. Am nächsten Tag war dann der 200. Norwegische Nationalfeiertag, den wir in Oslo bei bestem und warmem Wetter genießen konnten. Den letzten Tag ging es auf den Grefsenkollen und dann auch wieder zurück nach Deutschland.
                            <br />
                            <br />
                            <br />Die Bilder sind für registrierte Personen zu sehen:
                            <br /><a title="Klicken Sie hier und verlassen Sie diese Seite" href="https://www.chilan.de/galerie/operation,2,album,192.html" >Zum Album.</a></div>
                        <br /><div class="news_artikel_down">
                            <a title="Kategorie" href="/news/kat,8.html">Kategorie: Leben | </a>
                            <a title="Kommentare" href="/kommentiert/news,207,operation,1.html">Eigenen Kommentar hinzuf&uuml;gen</a>
                            <a title="Kurzbesuch in Oslo" href="/kommentiert/news,207,operation,-1.html" rel="bookmark"> | Link</a>
                        </div>
                    </div>
                    <div>
                        <div class="news_oben">
                            <div class="news_titel">
                                <h4><a title="Kern Update der Website" href="/kommentiert/news,203,operation,-1.html" rel="bookmark">Kern Update der Website</a>
                                </h4>
                            </div>
                            <div class="news_datum">
                                10.04.2014</div>
                        </div>
                        <div class="news_artikel">
                            <img alt="HTML objects" src="https://www.chilan.de/checkpicture.php?bildid=8425" style="float: left;" />Wie man vielleicht sehen kann hat die Homepage ein kleines Designupdate bekommen. Ich habe mich entschieden den Beiträgen, Alben, etc. ein bisschen mehr Platz zu geben und habe mich wieder auf eine Menüleiste am linken Rand reduziert.  Dafür habe ich auch dem Loginbereich mehr Platz gegönnt und mit der Platzierung am oberen Rand diesen Signifikant aufgewertet. Der Plan ist nämlich die Benutzeraktion mit einigen Ausnahmen mehr auf die kleine Besuchergruppe die registriert ist auszulegen. Schon jetzt sind die meisten Alben für Bilder nur intern zu sehen.
                            <br />Aber dies sind nur kleine optische Änderungen am Aussehen. Die eigentliche Änderung liegt im Kerncode der Website. Zum einen ist sie nun zusammen mit Dantebank komplett auf den utf-8 Zeichensatz umgestellt und zum anderen habe ich das Codegrundgerüst ausgetauscht.
                            <br />Bevor ich diese Website programmiert habe, hatte ich ein HTML Klassengerüst entworfen. Dies ist so ausgelegt dass es jedes HTML Element als Klassen mit dessen Attributen repräsentiert und man dann entsprechend erzeugte Objekte in andere Klassen einfügen kann. Der Vorteil besteht darin, dass im ganzen Code dieser Website es etwa zwei echo Befehle gibt und alles in PHP gehalten ist ohne immer zwischen PHP und HTML zu wechseln. Das Problem an diesem System war das wenn man ein HTML Objekt in ein anderes einfügte nicht das Objekt eingefügt wurde sondern nur der HTML Code und nach einem einfügen keine Änderungen nachträglich mehr möglich waren. Dies ist meinen damaligen Kenntnissen geschult gewesen, da ich gerade erst dabei war mir Objektorientierung in PHP beizubringen.
                            <br />
                            <br />Nun habe ich endlich mal die Zeit gefunden dies zu beheben, was eine starke Änderung war. Man kann nun die HTML Objekte in andere einfügen und immer noch ändern. Somit habe ich dieses Grundsystem HTMLObjects genannt und in die Beta Phase entlassen und hier eingefügt. Im Grunde habe ich den Motor meiner Website ausgetauscht. Zum Glück waren nur kleine Änderungen nötig am Code der Website. Außerdem habe ich einen Namensraum für die HTMLObjects eingebaut. Aber ich werde darauf noch mal genauer in einem späteren Artikel eingehen.
                            <br />
                            <br />Ansonsten habe ich auch noch eine Funktion eingebaut mit der man ganze Alben als ZIP Archiv runterladen kann. Diese ist aber leider hier wegen den PHP Einstellungen nicht benutzbar und leider kann ich die auch nicht ändern.
                            <br />
                            <br />Ich bitte jeden mich zu benachrichtigen wenn irgendwas nicht funktioniert. Wegen der Umstellung ist dies gut möglich. Ich glaube zwar dass ich alle Möglichkeiten getestet habe, aber sicher bin ich mir da nicht.</div>
                        <br /><div class="news_artikel_down">
                            <a title="Kategorie" href="/news/kat,11.html">Kategorie: Website | </a>
                            <a title="Kommentare" href="/kommentiert/news,203,operation,1.html">Eigenen Kommentar hinzuf&uuml;gen</a>
                            <a title="Kern Update der Website" href="/kommentiert/news,203,operation,-1.html" rel="bookmark"> | Link</a>
                        </div>
                    </div>
                </div>
                <div class="dateirahmen">
                    <a href="/news/kat,0,page,2.html">&Auml;ltere Artikel &gt;</a>
                </div>
            </div>
        </div>
        <br /><br /><br /><div class="unten">
            &copy;Chilan.de 2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017 - Rechenzeit der Seite: 0.037 Sekunden</div>
    </div>
    <div id="preload">
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2020647-2");
        pageTracker._trackPageview();
    </script></body>
{% endblock %}
