{% extends 'WebsiteBundle:Page:index.html.twig' %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="">
            <div class="row ">
                <div class="col-md-9 no-padding">
                    <img class="img-responsive fill" src="{{ url('_picture_resource',{'picture' : picture.bildid }) }}" alt="[{% if picture.bildtext == '' %}{{ picture.bildid }}{% else %}{{ picture.getBildtext }}{% endif %}]" />
                    {% if picture.bildtext != '' %}
                    <div class="carousel-caption">
                        <h3>{{ picture.bildtext }}</h3>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <h3>Bewertung</h3>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a>
                    <h3>Kommentare</h3>
                    {{ dump(comments) }}
                    {% for comment in comments %}
                        {{ comment.bildkomtext }}
                    {% endfor %}
                    <p><a href="#" class="btn btn-primary" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script language="javascript" type="text/javascript">

    </script>
{% endblock %}